// $fa-font-path: 'node_modules/font-awesome/fonts';
@import "~font-awesome/scss/font-awesome";

// $FontPathOpenSans: 'node_modules/npm-font-open-sans/fonts';
@import "~npm-font-open-sans/open-sans";

// $hc-icons-font-path: "node_modules/@healthcatalyst/cashmere/hcicons";
// @import "~@healthcatalyst/cashmere/hcicons/hcicons";

@import "~@healthcatalyst/cashmere/scss/cashmere";

body {
  background: url("https://image.freepik.com/free-photo/wooden-table-background_23-2147962363.jpg");
}

hc-tile {
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.space-right {
  margin-right: 5px;
}
